.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ff88;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.logo-img {
    height: 60px;      
    width: auto;       
    max-width: 150px;  
    object-fit: contain; 
}
.hero {
background-image: linear-gradient(rgba(30, 30, 36, 0.6), rgba(30, 30, 36, 0.75)), url('france.jpg');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
      background-color: #1e1e24;   
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.hero h1 {
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1.1;
    font-family:'Garamond'
    color: #e5e5e5;
}
.hero p {
    letter-spacing: 0.5px; 
    line-height: 1.6;     
    font-family:'Garamond'
    color: #e5e5e5;
}

.btn-hero {
    display: inline-block;
    background-color: transparent;
    color: #ffffff;                
    border: 1px solid #ffffff;     
    padding: 10px 24px;            
    font-size: 14px;              
    font-weight: 500;
    border-radius: 8px;            
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;          
    transition: all 0.3s ease;
    box-shadow: none;            
}

.btn-hero:hover {
    background-color: #ffffff;     
    color: #1e1e24;                
    transform: translateY(-1px);
}

